html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body{
    font-family: 'League Spartan', sans-serif;
}

.container-header {
    flex-direction: column;
    align-items: center;
    padding: 80px 245px;
    gap: 120px;
    
    position: relative;
    width: 1600px;
    height: 625px;
    
    background: #FFFFFF;
    border-radius: 50px;   
}

div {
    position: absolute;
}

.header {

    width: 465px;
    height: 210px;
    left: 245px;
    top: 118px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 140%;
}

.header-subtitle {

    width: 423px;
    height: 50px;
    left: 245px;
    top: 386px;
    
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 136%;
}

.header-button {
    box-sizing: border-box;
    
    
    width: 219px;
    height: 69px;
    left: 245px;
    top: 468px;
    
    border: 2px solid #ff6861;
    border-radius: 100px; 
    color: #FFFFFF;
    background-color: #ff6861;
}

.backgraund {
    position: absolute;
    width: 465px;
    height: 465px;
    left: 890px;
    top: 80px;
}

label {
    text-decoration: none;
    color: #FFFFFF;
}